{% load static %}

<html>
<head>
	<title>My blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">	
</head>

<div class="page-header">
    {% if user.is_authenticated %}
    <a href = "{% url 'post_new' %}" class="top-menu"><span class ="glyphicon glyphicon-plus"></span></a>
    <p class="top-menu">Hello {{user.username}} <small>(<a href = "{% url 'logout' %}">logout</a>)</small></p>
    {% else %}

    <a href = "{% url 'login' %}" class="top-menu"><span class ="glyphicon glyphicon-plus"></span></a>

    {% endif %}
    <h1><a href="/">Blog</a></h1>
</div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>


</html>